%%[
VAR @HeaderInclude
VAR @FooterInclude

SET @HeaderInclude = 'http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df74ec6c992c01a9b06833ca473602aed5ecf6a2db3abff54438'
SET @FooterInclude = 'http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df74d57e765ed5e812b28758468b87ccac8a7f4d41cfcb959c8c'

/* Set up variables for displaying sweepstakes date */
VAR @ExpireDate
VAR @ExpireDateRowset
VAR @ExpireDateRow
VAR @ExpireDateCounter
VAR @ExpireDateCheck

SET @ExpireDateRowset = LookupRows('SweepsExpireDates', 'Brand', 'PYB')
SET @ExpireDateCounter = 1
SET @ExpireDateRow = Row(@ExpireDateRowset, @ExpireDateCounter)
SET @ExpireDate = Field(@ExpireDateRow, 'ExpireDate')
SET @ExpireDateCheck = 'Go'

FOR @i = 1 TO RowCount(@ExpireDateRowset) DO

  IF @ExpireDateCheck == 'Go' THEN

    IF DateDiff(Now(), @ExpireDate, 'D') < 0 THEN

      SET @ExpireDateCounter = Add(@ExpireDateCounter, 1)

    ELSE

      SET @ExpireDateCheck = 'Stop'

    ENDIF

    IF @ExpireDateCounter > 1 THEN

      SET @ExpireDateRow = Row(@ExpireDateRowset, @ExpireDateCounter)
      SET @ExpireDate = Field(@ExpireDateRow, 'ExpireDate')

    ENDIF

  ENDIF

NEXT @i 

SET @ExpireDate = Format(@ExpireDate, 'MM/dd/yyyy')

]%%

%%=V(HTTPGet(@HeaderInclude))=%%


    <div class="container">

      <h1>Terms and Conditions</h1>
      <h2>NO PURCHASE OR REFERRAL NECESSARY TO ENTER OR WIN. <br>
        A PURCHASE OR REFERRAL WILL NOT IMPROVE YOUR CHANCES OF WINNING.</h2>

      <ol>

        <li><strong>Eligibility</strong>:  The Refer-a-Friend Quarterly Sweepstakes (the "Promotion") is open only to legal residents of the 50 United States and the District of Columbia, who are 18 years of age or older (19 years or older in Al and NE) and located in the U.S. at the time of entry.  Protect Your Bubble ("Sponsor"), Site Systems ("Promotion Administrator") and their respective parents, subsidiaries and affiliated companies, retailers, sales representatives, dealers, distributors, licensees and the advertising, fulfillment, judging and promotion agencies involved in the development and administration of this Promotion and each of their respective officers, directors, employees and agents (collectively, "Promotion Parties"), and their immediate family members (spouse, parent, child, grandparent, grandchild and sibling, and each of their respective spouses, regardless of where they reside) and those living in the same households of each (whether related or not) are not eligible. Void outside the 50 United States/D.C. and where prohibited by law.</li>

        <li><strong>Promotion Period</strong>: The Promotion begins at 12:00 a.m. Pacific Time ("PT") on October 1, 2014 and ends 11:59 p.m. PT on December 31, 2014.</li>

        <li><strong>How to Enter</strong>: Three ways to enter:
          <ol type="a">
            <li><strong>Insurance Refer-A-Friend Entry</strong>: After you have purchased a qualifying insurance product from Sponsor (Rental Car Insurance, Renters Insurance, Travel Insurance) and received a confirmation email from Sponsor inviting you to refer a friend, click on the link in the email to the referral web page, follow the onscreen directions, complete all required fields and refer up to fifty (50) different friends, by providing their valid email addresses, to inform them about your purchase. Each friend you refer will be sent an email on your behalf. You will receive one (1) Refer-A-Friend entry for each different friend you refer. You may only refer persons with whom you have an existing personal relationship and from whom an email from you would not be considered spam. LIMIT FIFTY (50) INSURANCE REFER-A-FRIEND ENTRIES PER PERSON/EMAIL ADDRESS PER DAY. </li>
            <li><strong>Warranty Refer-A-Friend Entry</strong>: After you have purchased a qualifying warranty product from Sponsor (Protection Plans and Identity Theft Protection Plans) and received a confirmation email from Sponsor inviting you to refer a friend, click on the link in the email to the referral web page, follow the onscreen directions, complete all required fields and refer up to three (3) different friends, by providing their valid email addresses, to inform them about your purchase. Each friend you refer will be sent an email on your behalf by providing him/her the opportunity to purchase the same product. You will receive one (1) Refer-A-Friend entry for each different friend you refer. You may only refer persons with whom you have an existing personal relationship and from whom an email from you would not be considered spam. <strong>LIMIT FIFTY (50) WARRANTY REFER-A-FRIEND ENTRIES PER PERSON/EMAIL ADDRESS PER DAY.</strong></li>
            <li><strong>Mail-in Entry</strong>: To enter by mail, clearly hand print your name, complete street address, daytime telephone number, email address (if you have one) and birth date, on a standard 4" x 6" postcard and mail it to: Refer-a-Friend Quarterly Sweepstakes, PO Box 18243, San Jose, CA 95158. Postcards must be received by January 8, 2015. You will receive five (5) entries for each postcard received. All mail-in entries must be legibly hand printed (including addressing), mailed separately and have sufficient postage affixed. <strong>LIMIT ONE HUNDRED (100) MAIL-IN ENTRIES (10 POSTCARDS) PER PERSON/MAILING ADDRESS PER DAY.</strong>
            <br />
            <br />
            <strong>LIMIT OF ONE HUNDRED (100) ENTRIES PER PERSON/EMAIL ADDRESS/MAILING ADDRESS PER DAY, REGARDLESS OF MEANS OF ENTRY.</strong></li>
            <li><strong>Twitter Entry</strong>:  Each day during the Promotion Period, you may earn one (1) additional entry by clicking on the Twitter share link on the Website and tweeting the post from your Twitter account. Each tweet must contain the hashtag #SweepstakesEntry (each a "Twitter Entry"). LIMIT ONE (1) TWITTER ENTRY PER PERSON / TWITTER ACCOUNT PER DAY.</li>
          </ol>
        </li>
        <li><strong>Drawings</strong>: On or about January 15, 2015, the Promotion Administrator will conduct a random drawing from among all eligible entries received during the Promotion Period. </li>
        <li><strong>Prizes, Approximate Retail Value ("ARV") & Odds</strong>: One (1) Grand Prize will be awarded a $500 value Gift Card of Sponsor's choice. Total ARV of prize is $500.  No substitution, cash redemption or transfer of prizes is permitted except as provided herein or at Sponsor's sole discretion. Sponsor reserves the right to substitute a prize of equal or greater value if the advertised prize becomes unavailable. Use of gift card is subject to all applicable terms, conditions and policies of the issuer. All federal, state and local income taxes on prizes are the sole responsibility of the winners.  Arrangements for delivery of prizes will be performed after winner validation.  LIMIT ONE (1) GRAND PRIZE PER PERSON/EMAIL ADDRESS/MAILING ADDRESS. Odds of winning a prize depend on the number of entries received for each Drawing through all entry methods combined. All prizes will be awarded provided they are claimed properly in accordance with these Official Rules.</li>
        <li><strong>General Rules</strong>: The Promotion is subject to all applicable  federal, state and local laws All potential winners will each be notified by telephone, email, regular mail or overnight mail, and may be required to complete, sign and return an affidavit of eligibility, a liability release, and where lawful, a publicity release within a stated amount of time. The return of any notification as undeliverable or failure to respond to notices or return any documents in a timely manner or if a potential winner is found to be ineligible or not in compliance with these Official Rules, as determined by the Promotion Administrator, will result in disqualification and the choosing of an alternate winner in a random drawing from among the remaining entries in the applicable drawing pool. By participating in this Promotion, entrants agree to release, discharge and hold harmless Promotion Parties from and against any and all liability, loss, injuries or damages associated with this Promotion or with the acceptance, use or misuse of any prize received in this Promotion.  Promotion Parties are not responsible for any typographical or other error any printing or advertising related to the Promotion, or in the administration of the Promotion.  Acceptance of a prize constitutes permission for the Sponsor and its agencies to use each winner's name and likeness for purposes of advertising and publicity in all media worldwide, without further compensation or notice, unless prohibited by law.  By participating in this Promotion, entrants agree to be bound by the Official Rules and decisions of the independent Promotion Administrator, which shall be final in all matters relating to the Promotion.  Promotion Parties are not responsible for lost, late, misdirected, stolen, illegible, inaccurate, damaged, incomplete, non-delivered or postage-due mail; or for printing, distribution or production errors or for technical, hardware, software, or telephone malfunctions of any kind, lost or unavailable network connections, or failed, incorrect, incomplete, inaccurate, garbled or delayed electronic communications caused by the user or by any of the equipment or programming associated with or utilized in this Promotion, or by any human or other error which may occur in the course of this Promotion.  If, in the Promotion Administrator's sole opinion, there is any suspected or actual evidence of tampering with any portion of the Promotion or Website or if technical difficulties compromise the integrity of the Promotion, the Promotion Administrator reserves the right to void suspect entries and/or modify and/or terminate the Promotion. In the event of early termination, Promotion Administrator may conduct a random drawing to award the prizes using all known eligible, non-suspect entries received through all entry methods combined as of the date/time of termination. The Promotion Administrator reserves the right to disqualify any individual who tampers with the Promotion or Website or acts in a disruptive or unfair manner. In the event of a dispute regarding the identity of the person submitting an entry, the entry will be declared made by the person's name submitted on the entry. </li>
        <li><strong>Disputes, Choice of Law and Jurisdiction</strong>: All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules or the rights and obligations of any participant or the Sponsor in connection with the Sweepstakes shall be governed by and construed in accordance with the internal laws of the State of Georgia without giving effect to any choice of law or conflict of law rules or provisions that would cause the application of any other state's laws. By participating, entrants agree that any and all disputes, claims and causes of action arising out of, or connected with, this Promotion or any prize awarded (if applicable) shall be resolved individually, without resort to any form of class action, and exclusively by the appropriate court located in located in the county of Fulton, Georgia; 2) any and all claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, including but not limited to costs associated with entering this Promotion but in no event attorneys' fees; and (3) to the extent allowed by applicable law, under no circumstances will entrant be permitted to obtain awards for, and entrant hereby waives all rights to claim, punitive, incidental and/or consequential damages and/or any other damages, other than out-of-pocket expenses, and any and all rights to have damages multiplied or otherwise increased. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATIONS OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO PORTIONS OF THE ABOVE MAY NOT APPLY TO YOU.
        <br />
        <br />
        The invalidity or unenforceability of any provision of these Official Rules shall not affect the validity or enforceability of any other provision. In the event that any provision is determined to be invalid or otherwise unenforceable or illegal, these Official Rules shall otherwise remain in effect and shall be construed in accordance with their terms as if the invalid or illegal provision were not contained herein. 
        <br />
        <br />
        In the event there is a discrepancy or inconsistency between disclosures or other statements contained in any Promotion-related materials or notifications and the terms and conditions of these Official Rules, these Official Rules shall prevail, govern and control. </li>
        <li><strong>Privacy</strong>: The personal information collected through this Promotion is subject to Sponsor's Privacy Policy located at http://us.protectyourbubble.com/legal-information/privacy-policy.html.  By entering this Promotion, you agree to the use of your personal information as described in the above Privacy Policy.</li>
        <li><strong>Winners' List</strong>:  To view the winners' list for this promotion, please visit <a href="http://certified.promotrust.comprotectyourbubble/referafriendquarterlysweeps/winners" target="_blank">http://certified.promotrust.comprotectyourbubble/referafriendquarterlysweeps/winners</a>. The winners' list will be available after winner validation has been completed.</li>
        <li><strong>Sponsor</strong>: Protect Your Bubble, Atlanta, GA, 30309</li>
        <li><strong>Promotion Administrator</strong>: The Promotion is administered and judged by Site Systems, P.O. Box 18404, San Jose, CA 95158.</li>

      </ol>

    </div>
    
%%=V(HTTPGet(@FooterInclude))=%%