%%[
VAR @HeaderInclude
VAR @FooterInclude

SET @HeaderInclude = 'http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df74ff27c2c63b271c95999b37fe5c00192f24ac851f4c23ddd5'
SET @FooterInclude = 'http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df74307b25ecdd9830364b83297fcc7d999802de89733918c5a0'

SET @EmailAddress = QueryParameter('EmailAddress')

IF NOT Empty(@EmailAddress) THEN

  UpsertDE(
    'ReferralOptOuts',
    1,
    'EmailAddress', @EmailAddress,
    'DateAdded', Now()
  )

ENDIF

]%%

%%=V(HTTPGet(@HeaderInclude))=%%


    <div class="container">

      <h1>Thank you for updating your preferences</h1>

      <p class="lead">In most cases, changes are effective immediately. However, please allow up to <strong>7 business days</strong> for all our systems to honor your request.</p>

    </div>
    
%%=V(HTTPGet(@FooterInclude))=%%