%%[

/* Set up variables for page layout */
VAR @HeaderInclude
VAR @FooterInclude

SET @HeaderInclude = 'http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df74ff27c2c63b271c95999b37fe5c00192f24ac851f4c23ddd5'
SET @FooterInclude = 'http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df74a0cf5f26d06963887add101a05f775570dc8a2f32ef03d7a'

/* Set up variables for displaying dynamic content */
VAR @EmailAddress
VAR @Insurance_Product
VAR @ReferrerID

SET @EmailAddress      = QueryParameter('EmailAddress')
SET @Insurance_Product = QueryParameter('Insurance_Product')
SET @ReferrerID        = QueryParameter('ReferrerID')

/* Set the appropriate product display name */
VAR @ProductRowset
VAR @ProductRow
VAR @ProductDisplayName
VAR @CTA
VAR @BitlyCTA

SET @ProductRowset      = LookupRows('ProductLookup', 'Insurance_Product', @Insurance_Product)
SET @ProductRow         = Row(@ProductRowset, 1)
SET @ProductDisplayName = Field(@ProductRow, 'ProductDisplayName')
SET @CTA                = Field(@ProductRow, 'Link')
SET @CTA                = Concat(@CTA, '?em=', @EmailAddress)
SET @BitlyCTA           = HTTPGet(Concat('http://digitaladditive.com/bitly/?url=', @CTA))

]%%

%%=V(HTTPGet(@HeaderInclude))=%%

    <div class="container">

      <h1>Share more, earn more</h1>

      <p class="lead">Encourage your friends to make the same smart decision you did by purchasing %%=V(@ProductDisplayName)=%%. If they do, <strong>you'll both receive $10 Amazon.com Gift Cards*!</strong> If your friend purchases a different product, <strong>you'll still be entered to win a <a href="http://pages.em.protectyourbubble.com/Sweepstakes-Rules/" target="_blank">$500 Visa gift card</a> - so there's no reason not to share.</strong></p>

      <h3>Sharing is simple - just enter your friends' names and email addresses below:</h3>

      <p class="lead text-danger"><em>You will be allowed to submit additional friends after you click Share Now.</em></p>

      <p class="text-center text-danger">All fields are required.</p>

      <div class="row">

        <form class="form-inline col-md-10 col-md-offset-1" role="form" action="http://pages.em.protectyourbubble.com/Referral-W-Thanks/">

          <input type="hidden" name="Referrer" value="%%=V(@EmailAddress)=%%">
          <input type="hidden" name="Insurance_Product" value="%%=V(@Insurance_Product)=%%">
          <input type="hidden" name="ReferrerID" value="%%=V(@ReferrerID)=%%">

          <div class="row">

            <div class="form-group col-md-3 text-right">
              <h3>Friend One</h3>
            </div>

            <fieldset>

              <div class="form-group">
                <label class="sr-only" for="FirstName1">First Name</label>
                <input type="text" class="form-control" id="FirstName1" name="FirstName1" placeholder="First Name" required>
              </div>

              <div class="form-group">
                <label class="sr-only" for="LastName1">Last Name</label>
                <input type="text" class="form-control" id="LastName1" name="LastName1" placeholder="Last Name" required>
              </div>

              <div class="form-group">
                <label class="sr-only" for="EmailAddress1">Email Address</label>
                <input type="email" class="form-control" id="EmailAddress1" name="EmailAddress1" placeholder="Email Address" required>
              </div>

            </fieldset>

          </div>

          <div class="row">

            <div class="form-group col-md-3 text-right">
              <h3>Friend Two</h3>
            </div>

            <fieldset>

              <div class="form-group">
                <label class="sr-only" for="FirstName2">First Name</label>
                <input type="text" class="form-control" id="FirstName2" name="FirstName2" placeholder="First Name">
              </div>

              <div class="form-group">
                <label class="sr-only" for="LastName2">Last Name</label>
                <input type="text" class="form-control" id="LastName2" name="LastName2" placeholder="Last Name">
              </div>

              <div class="form-group">
                <label class="sr-only" for="EmailAddress2">Email Address</label>
                <input type="email" class="form-control" id="EmailAddress2" name="EmailAddress2" placeholder="Email Address">
              </div>

            </fieldset>

          </div>

          <div class="row">

            <div class="form-group col-md-3 text-right">
              <h3>Friend Three</h3>
            </div>

            <fieldset>

              <div class="form-group">
                <label class="sr-only" for="FirstName3">First Name</label>
                <input type="text" class="form-control" id="FirstName3" name="FirstName3" placeholder="First Name">
              </div>

              <div class="form-group">
                <label class="sr-only" for="LastName3">Last Name</label>
                <input type="text" class="form-control" id="LastName3" name="LastName3" placeholder="Last Name">
              </div>

              <div class="form-group">
                <label class="sr-only" for="EmailAddress3">Email Address</label>
                <input type="email" class="form-control" id="EmailAddress3" name="EmailAddress3" placeholder="Email Address">
              </div>

            </fieldset>

          </div>

          <button type="submit" class="btn btn-success center-block">Share Now!</button>

        </form>

        <div class="clearfix">&nbsp;</div>

        <div class="row share">

          <h4 class="col-md-3 col-md-offset-2">Or, share via social media:</h4>

          %%[

          /* Declare some variables for social share */
          VAR @FBShareURL

          SET @FBShareURL = Concat('https://www.facebook.com/dialog/feed?app_id=658082637562488&display=popup&caption=+&description=Earn+a+$10+gift+card+when+you+purchase+', @ProductDisplayName,'+from+Protect+Your+Bubble+today!&link=', @CTA,'&picture=http%3A%2F%2Fimage.em.protectyourbubble.com%2Flib%2Ffe6715707363077f7115%2Fm%2F1%2Fpyb-purple-logo.png&redirect_uri=http%3A%2F%2Ffacebook.com')

          VAR @TwitterShareURL

          SET @TwitterShareURL = Concat('https://twitter.com/home?status=Earn+a+$10+gift+card+when+you+purchase+', @ProductDisplayName,'+from+Protect+Your+Bubble+today!+', @BitlyCTA)

          ]%%

          <a href="%%=V(@FBShareURL)=%%" target="_blank"><img class="col-md-2" src="http://image.em.protectyourbubble.com/lib/fe6715707363077f7115/m/1/connect-facebook.png"></a>
          <a href="%%=V(@TwitterShareURL)=%%" target="_blank"><img class="col-md-2" src="http://image.em.protectyourbubble.com/lib/fe6715707363077f7115/m/1/connect-twitter.png"></a>

        </div>

      </div>

    </div>

%%=V(HTTPGet(@FooterInclude))=%%