  </div><!-- /.page-wrap -->

  <footer>

    <div class="container">

      <div class="row">

        <div class="col-md-2">

          <img src="http://image.em.protectyourbubble.com/lib/fe6715707363077f7115/m/1/pyb-purple-logo.png">

        </div>

        <div class="col-md-10">

        <p class="small">All insurance products are offered by The Signal L.P. The Signal, L.P. is a licensed Insurance agency appointed by American Bankers Insurance Company of Florida and American Security Insurance Company. American Bankers Insurance Company of Florida and American Security Insurance Company are Assurant, Inc. companies licensed to offer insurance products. Protect Your Bubble, the Protect Your Bubble logo, Bubble and Squeak and other Protect Your Bubble trademarks, service marks, graphics and logos used in connection with this website are trademarks of Assurant, Inc. in the United States.</p>

        <p class="small">* Amazon.com is not a sponsor of this promotion. Except as required by law, Amazon.com Gift Cards* ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods at Amazon.com or certain of its affiliated websites. For complete terms and conditions, see <a href="www.amazon.com/gc-legal">www.amazon.com/gc-legal</a>. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. All Amazon &reg;, &trade; &amp; &copy; are IP of Amazon.com, Inc. or its affiliates. No expiration date or service fees.</p>

        <p class="small">The obligor company for Protect Your Bubble Electronics Extended Warranty products in all states except Florida and Oklahoma is Federal Warranty Service Corporation. In Florida, the obligor is United Service Protection, Inc.  In Oklahoma, the obligor is Assurant Service Protection, Inc.</p>

        <p class="small"><a href="http://us.protectyourbubble.com/legal-information/privacy-policy.html" target="_blank">Click here</a> to view our privacy policy.</p>

        </div>

      </div>

    </div>

  </footer>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df743c9dfeb20d8c31188482b46ccb6d7111393e2d7f1ada34fd"></script>
  <script src="http://image.em.protectyourbubble.com/lib/fe6715707363077f7115/m/1/jquery.validate.min.js"></script>

  <script>
    $('input, textarea').placeholder();
    $('form').validate();

    $(document).ready(function() {

      $('#FirstName2').on('blur', function(){
        
        if( !$('#FirstName2').val() ) {
          $(this).prop('required', false);
          $('#LastName2').prop('required', false);
          $('#EmailAddress2').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName2').prop('required', true);
          $('#EmailAddress2').prop('required', true);
        }

      });

      $('#LastName2').on('blur', function(){
        
        if( !$('#LastName2').val() ) {
          $(this).prop('required', false);
          $('#FirstName2').prop('required', false);
          $('#EmailAddress2').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#FirstName2').prop('required', true);
          $('#EmailAddress2').prop('required', true);
        }

      });

      $('#EmailAddress2').on('blur', function(){
        
        if( !$('#EmailAddress2').val() ) {
          $(this).prop('required', false);
          $('#LastName2').prop('required', false);
          $('#FirstName2').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName2').prop('required', true);
          $('#FirstName2').prop('required', true);
        }

      });

      $('#FirstName3').on('blur', function(){
        
        if( !$('#FirstName3').val() ) {
          $(this).prop('required', false);
          $('#LastName3').prop('required', false);
          $('#EmailAddress3').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName3').prop('required', true);
          $('#EmailAddress3').prop('required', true);
        }

      });

      $('#LastName3').on('blur', function(){
        
        if( !$('#LastName3').val() ) {
          $(this).prop('required', false);
          $('#FirstName3').prop('required', false);
          $('#EmailAddress3').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#FirstName3').prop('required', true);
          $('#EmailAddress3').prop('required', true);
        }

      });

      $('#EmailAddress3').on('blur', function(){
        
        if( !$('#EmailAddress3').val() ) {
          $(this).prop('required', false);
          $('#LastName3').prop('required', false);
          $('#FirstName3').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName3').prop('required', true);
          $('#FirstName3').prop('required', true);
        }

      });

    });

  </script>

</body>
</html>