%%[
/* Set up variables for displaying sweepstakes date */
VAR @ExpireDate
VAR @ExpireDateRowset
VAR @ExpireDateRow
VAR @ExpireDateCounter
VAR @ExpireDateCheck

SET @ExpireDateRowset = LookupRows('SweepsExpireDates', 'Brand', 'PYB')
SET @ExpireDateCounter = 1
SET @ExpireDateRow = Row(@ExpireDateRowset, @ExpireDateCounter)
SET @ExpireDate = Field(@ExpireDateRow, 'ExpireDate')
SET @ExpireDateCheck = 'Go'

FOR @i = 1 TO RowCount(@ExpireDateRowset) DO

  IF @ExpireDateCheck == 'Go' THEN

    IF DateDiff(Now(), @ExpireDate, 'D') < 0 THEN

      SET @ExpireDateCounter = Add(@ExpireDateCounter, 1)

    ELSE

      SET @ExpireDateCheck = 'Stop'

    ENDIF

    IF @ExpireDateCounter > 1 THEN

      SET @ExpireDateRow = Row(@ExpireDateRowset, @ExpireDateCounter)
      SET @ExpireDate = Field(@ExpireDateRow, 'ExpireDate')

    ENDIF

  ENDIF

NEXT @i 

SET @ExpireDate = '12/31/2014'
]%%
  </div><!-- /.page-wrap -->

  <footer>

    <div class="container">

      <div class="row">

        <div class="col-md-2">

          <img src="http://image.em.protectyourbubble.com/lib/fe6715707363077f7115/m/1/pyb-purple-logo.png">

        </div>

        <p class="col-md-10 small">All insurance products are offered by The Signal L.P. The Signal, L.P. is a licensed Insurance agency appointed by American Bankers Insurance Company of Florida and American Security Insurance Company. American Bankers Insurance Company of Florida and American Security Insurance Company are Assurant, Inc. companies licensed to offer insurance products. Protect Your Bubble, the Protect Your Bubble logo, Bubble and Squeak and other Protect Your Bubble trademarks, service marks, graphics and logos used in connection with this website are trademarks of Assurant, Inc. in the United States.</p>

        <p class="small">The obligor company for Protect Your Bubble Electronics Extended Warranty products in all states except Florida and Oklahoma is Federal Warranty Service Corporation. In Florida, the obligor is United Service Protection, Inc. In Oklahoma, the obligor is Assurant Service Protection, Inc.</p>

        <p class="small"><a href="http://us.protectyourbubble.com/legal-information/privacy-policy.html" target="_blank">Click here</a> to view our privacy policy.</p>

        <p class="small">*Amazon.com is not a sponsor of this promotion. Except as required by law, Amazon.com Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods at Amazon.com or certain of its affiliated websites. For complete terms and conditions, see <a href="www.amazon.com/gc-legal" target="_blank">www.amazon.com/gc-legal</a>. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. All Amazon &reg;, &#8482; &amp; &copy; are IP of Amazon.com, Inc. or its affiliates. No expiration date or service fees. Please allow 60 days after your purchase to receive the Amazon.com Gift Card claim code. THERE IS A LIMIT OF FIFTY REWARDS PER PERSON/EMAIL ADDRESS PER YEAR.</p>

        <p class="small">** NO PURCHASE NECESSARY TO ENTER OR WIN. A PURCHASE WILL NOT IMPROVE YOUR CHANCES OF WINNING. Open only to legal residents of the 50 United States and the District of Columbia, 18 and older (19+ in Al and NE). Void elsewhere and where prohibited.</p>

        <p class="small">Sweepstakes ends December 31, 2014. Subject to complete <a href="http://pages.em.protectyourbubble.com/Sweepstakes-Rules/" target="_blank">Official Rules</a>.</p>

        <p class="small">This Promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook or Twitter. You understand that you are providing your information to Sponsor and not to Facebook or Twitter. Your personal information will only be used in accordance with Sponsor's Privacy Policy and as permitted by law.</p>

        <p class="small">&copy; 2014 Protect Your Bubble, a division of Assurant Inc. If you have any questions, contact us, or write to:  1447 Peachtree Street NE Atlanta, GA, 30309, USA</p>

      </div>

    </div>

  </footer>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://pages.em.protectyourbubble.com/page.aspx?QS=330c754b5e92df743c9dfeb20d8c31188482b46ccb6d7111393e2d7f1ada34fd"></script>
  <script src="http://image.em.protectyourbubble.com/lib/fe6715707363077f7115/m/1/jquery.validate.min.js"></script>

  <script>
  
    $('input, textarea').placeholder();
    $('form').validate();

    $(document).ready(function() {

      $('#FirstName2').on('blur', function(){
        
        if( !$('#FirstName2').val() ) {
          $(this).prop('required', false);
          $('#LastName2').prop('required', false);
          $('#EmailAddress2').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName2').prop('required', true);
          $('#EmailAddress2').prop('required', true);
        }

      });

      $('#LastName2').on('blur', function(){
        
        if( !$('#LastName2').val() ) {
          $(this).prop('required', false);
          $('#FirstName2').prop('required', false);
          $('#EmailAddress2').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#FirstName2').prop('required', true);
          $('#EmailAddress2').prop('required', true);
        }

      });

      $('#EmailAddress2').on('blur', function(){
        
        if( !$('#EmailAddress2').val() ) {
          $(this).prop('required', false);
          $('#LastName2').prop('required', false);
          $('#FirstName2').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName2').prop('required', true);
          $('#FirstName2').prop('required', true);
        }

      });

      $('#FirstName3').on('blur', function(){
        
        if( !$('#FirstName3').val() ) {
          $(this).prop('required', false);
          $('#LastName3').prop('required', false);
          $('#EmailAddress3').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName3').prop('required', true);
          $('#EmailAddress3').prop('required', true);
        }

      });

      $('#LastName3').on('blur', function(){
        
        if( !$('#LastName3').val() ) {
          $(this).prop('required', false);
          $('#FirstName3').prop('required', false);
          $('#EmailAddress3').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#FirstName3').prop('required', true);
          $('#EmailAddress3').prop('required', true);
        }

      });

      $('#EmailAddress3').on('blur', function(){
        
        if( !$('#EmailAddress3').val() ) {
          $(this).prop('required', false);
          $('#LastName3').prop('required', false);
          $('#FirstName3').prop('required', false);
        }
        else
        {
          $(this).prop('required', true);
          $('#LastName3').prop('required', true);
          $('#FirstName3').prop('required', true);
        }

      });

    });

  </script>

</body>
</html>