* {
  margin: 0;
}

html, body {
  height: 100%;
}

a   {
  text-decoration: underline;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -350px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

header  {
  background: url(http://image.em.protectyourbubble.com/lib/fe6715707363077f7115/m/1/header-stripe.png) 0 0 repeat-x;
  height: 132px;

  .logo {
    margin-top: 40px;
  }

}

form  {
  margin-bottom: 40px;

  h3  {
    margin-top: 4px;
  }

  .row  {
    margin-bottom: 15px;
  }

}

.share  {

  h4  {
    margin-top: 4px;
  }

}

.page-wrap:after {
  height: 350px;
}

footer  {
  background: #f7f7f7;
  height: 350px;
  margin-top: 50px;
  padding-top: 50px;
}